# ==========================
# IDE
# ==========================
.idea/
*.iml

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp